@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #282828;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #bc4848;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dc5656;
  cursor: pointer;
}

.modal-active {
  display: flex;
}
